﻿@{
    ViewBag.Title = "MVC Counter";
}
@model MvcCounter.Models.Counter
<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Counter game</div>
            <div class="panel-body">
                @using (Html.BeginForm("Hit", "Home"))
                {
                    <h1 class="text-center">@Model.Count</h1>
                    @Html.HiddenFor(m => m.Id);
                    <input type="submit" value="Hit me" class="btn btn-primary btn-block" @(Model.Count >= 10 ? "disabled" : "") />
                }
            </div>
        </div>
    </div>
</div>